.message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .message.fade-out {
    opacity: 0;
  }
  
  .message-icon {
    margin-right: 10px;
  }
  